
.header-text {
    color: white;
    text-shadow: 0 0 12px #000000;
    height: 100%;
}

.image-bg-header {
    text-align: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    background: url('../images/images.png') repeat center center scroll;
    background-attachment: fixed;
    height: 550px;
}
.navbar-offset {
    margin-top: -4rem;
    padding-top: 5rem;
}

.dropdown-item {
    cursor: pointer;
}
#dropdwon01 {
    cursor: pointer;
}


